@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: 'IranianSans';
  src: url('../fonts/IranianSans.ttf') format('truetype');
  
  font-style: normal;
  font-display: swap;
}

*{
  font-family: 'IranianSans';
  direction: rtl;
}

:root {
  --color-text: #000; /* رنگ مشکی اصلی */
  --color-muted: rgb(129, 133, 139);
}

.Toastify__toast-container {
  left: 1.5rem !important;
  right: 1.5rem !important;
  top: 1rem !important;
  bottom: 1rem !important;
  max-width: calc(100% - 3rem);
}

.Toastify__toast.custom-toast {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 18px rgba(2,6,23,0.08);
  font-size: 0.95rem;
}

.Toastify__close-button {
  color: white;
  opacity: 0.9;
  font-size: 1rem;
}

.Toastify__toast--success { background: #059669; color: #fff; }
.Toastify__toast--error   { background: #ef4444; color: #fff; }

/* انیمیشن ورود نرم */
@keyframes fade-in {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.Toastify__toast { animation: fade-in 0.3s ease-out; }


.countainer{
  width: 85%;
}

.icon-hover {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon-hover:hover {
  transform: scale(1.1);
  opacity: 0.9;
}